<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dice</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="die" [class.rolling]="rolling()" (click)="test()" (animationend)="rolling.set(false)">
      @if (x() === 0) {
        <span class="placeholder">?</span>
      } @else {
        @for (cell of cells; track cell) {
          <span class="cell">
            @if (pips().includes(cell)) {
              <span class="pip"></span>
            }
          </span>
        }
      }
    </div>

    <p class="hint">{{ x() === 0 ? 'Shake or tap to roll' : 'You rolled ' + x() }}</p>
  </div>
</ion-content>
